NEXTAUTH_SECRET=<any-thing-secret-but-i-recommend-opensslg-rand-32>
NEXTAUTH_URL=<your-application-running-url>

# API Configuration
NEXT_PUBLIC_API_URL=http://<backend-url>/api

# Playwright Configuration
PLAYWRIGHT_BASE_URL=http://<playwright-running-url>